/* reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}
.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
   background-color: #555;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: #f60;
}

.hero {
    background-image: url("./travel-world.jpg");
    background-size: cover;
    background-color: rgba(60, 60, 103, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #f60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
}

.destinations {
    padding: 50px 0;
}
.destination-container{
    display: flex;
    gap: 10px;
}


.destination-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 300px;

}

.destination-card img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
}

.destination-card h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

.contact {
    padding: 50px 0;
}
.contact  form {
    display: flex;
    flex-direction: column;
}
.contact input,
.contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    background-color: #f60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}